.svn
.metadata/.lock
.metadata/.plugins/oracle.eclipse.tools.common.services/RemoteSystemsTempFiles/16.artifact.sjo
.metadata/.plugins/oracle.eclipse.tools.common.services/RemoteSystemsTempFiles/16.command.sjo
.metadata/.plugins/oracle.eclipse.tools.common.services/RemoteSystemsTempFiles/command.num
.metadata/.plugins/oracle.eclipse.tools.common.services/RemoteSystemsTempFiles/project.num
.metadata/.plugins/oracle.eclipse.tools.common.services/udaLib/16.artifact.sjo
.metadata/.plugins/oracle.eclipse.tools.common.services/udaLib/16.command.sjo
.metadata/.plugins/oracle.eclipse.tools.common.services/udaLib/command.num
.metadata/.plugins/oracle.eclipse.tools.common.services/udaLib/project.num
.metadata/.plugins/oracle.eclipse.tools.common.services/x21aConfig/16.artifact.sjo
.metadata/.plugins/oracle.eclipse.tools.common.services/x21aConfig/16.command.sjo
.metadata/.plugins/oracle.eclipse.tools.common.services/x21aConfig/command.num
.metadata/.plugins/oracle.eclipse.tools.common.services/x21aConfig/project.num
.metadata/.plugins/oracle.eclipse.tools.common.services/x21aEAR/16.artifact.sjo
.metadata/.plugins/oracle.eclipse.tools.common.services/x21aEAR/16.command.sjo
.metadata/.plugins/oracle.eclipse.tools.common.services/x21aEAR/command.num
.metadata/.plugins/oracle.eclipse.tools.common.services/x21aEAR/project.num
.metadata/.plugins/oracle.eclipse.tools.common.services/x21aEARClasses/16.artifact.sjo
.metadata/.plugins/oracle.eclipse.tools.common.services/x21aEARClasses/16.command.sjo
.metadata/.plugins/oracle.eclipse.tools.common.services/x21aEARClasses/command.num
.metadata/.plugins/oracle.eclipse.tools.common.services/x21aEARClasses/project.num
.metadata/.plugins/oracle.eclipse.tools.common.services/x21aMantenimientosWar/16.artifact.sjo
.metadata/.plugins/oracle.eclipse.tools.common.services/x21aMantenimientosWar/16.command.sjo
.metadata/.plugins/oracle.eclipse.tools.common.services/x21aMantenimientosWar/16.locale_jsp_2.1.sjo
.metadata/.plugins/oracle.eclipse.tools.common.services/x21aMantenimientosWar/16.variable.sjo
.metadata/.plugins/oracle.eclipse.tools.common.services/x21aMantenimientosWar/command.num
.metadata/.plugins/oracle.eclipse.tools.common.services/x21aMantenimientosWar/project.num
.metadata/.plugins/oracle.eclipse.tools.common.services/x21aPilotoPatronesWar/16.artifact.sjo
.metadata/.plugins/oracle.eclipse.tools.common.services/x21aPilotoPatronesWar/16.command.sjo
.metadata/.plugins/oracle.eclipse.tools.common.services/x21aPilotoPatronesWar/16.locale_jsp_2.1.sjo
.metadata/.plugins/oracle.eclipse.tools.common.services/x21aPilotoPatronesWar/16.variable.sjo
.metadata/.plugins/oracle.eclipse.tools.common.services/x21aPilotoPatronesWar/command.num
.metadata/.plugins/oracle.eclipse.tools.common.services/x21aPilotoPatronesWar/project.num
.metadata/.plugins/oracle.eclipse.tools.common.services/x21aStatics/16.artifact.sjo
.metadata/.plugins/oracle.eclipse.tools.common.services/x21aStatics/16.command.sjo
.metadata/.plugins/oracle.eclipse.tools.common.services/x21aStatics/16.locale_jsp_2.1.sjo
.metadata/.plugins/oracle.eclipse.tools.common.services/x21aStatics/16.variable.sjo
.metadata/.plugins/oracle.eclipse.tools.common.services/x21aStatics/command.num
.metadata/.plugins/oracle.eclipse.tools.common.services/x21aStatics/project.num
.metadata/.plugins/oracle.eclipse.tools.common.services/x38ShLibClasses/16.artifact.sjo
.metadata/.plugins/oracle.eclipse.tools.common.services/x38ShLibClasses/16.command.sjo
.metadata/.plugins/oracle.eclipse.tools.common.services/x38ShLibClasses/command.num
.metadata/.plugins/oracle.eclipse.tools.common.services/x38ShLibClasses/project.num
.metadata/.plugins/org.eclipse.ant.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.jdt.core.external.folders/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.jdt.core.external.folders/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.jdt.core.external.folders/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/udaLib/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/udaLib/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/x21aConfig/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/x21aConfig/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/x21aEAR/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/x21aEAR/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/x21aEARClasses/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/x21aEARClasses/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/x21aEARClasses/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/x21aMantenimientosWar/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/x21aMantenimientosWar/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/x21aMantenimientosWar/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/x21aPilotoPatronesWar/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/x21aPilotoPatronesWar/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/x21aPilotoPatronesWar/.syncinfo
.metadata/.plugins/org.eclipse.core.resources/.projects/x21aPilotoPatronesWar/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/x21aStatics/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/x21aStatics/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/x21aStatics/.syncinfo
.metadata/.plugins/org.eclipse.core.resources/.projects/x21aStatics/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/x21aStatics/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/x38ShLibClasses/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/x38ShLibClasses/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/x38ShLibClasses/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/x38ShLibClasses/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/17.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/oracle.eclipse.tools.common.services.16
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/17.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.svn.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.svn.ui.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_3.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_3.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_3.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_3.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_3.prx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_3.tis
.metadata/.plugins/org.eclipse.jdt.core/.org.eclipse.jdt.core.external.folders/.project
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jst.jsp.core/taglibindex/1245659017.dat
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.jsdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.wst.jsdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.wst.server.core/publish.xml
.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
RemoteSystemsTempFiles/.project
