.svn
x21aStatics/\.externalToolBuilders/

.metadata
.metadata/*
RemoteSystemsTempFiles/.project
*.class
x21aEARClasses/bin/

.svn

.settings
.sonarlint

*/.idea/*
*.iml
*.idea
build_idea.xml
/*_estruct_servidor/