.aa79b-content .aa79b-animate {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.aa79b-content .aa79b-animate.rotate-180 {
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.aa79b-content .aa79b-pruebas-header {
	border-bottom-style: dotted;
	border-bottom-width: thin;
	border-bottom-color: #999;
	margin-bottom: 1rem;
	color: #999;
}

.aa79b-content .aa79b-pruebas-footer {
	border-top-style: dotted;
	border-top-width: thin;
	border-top-color: #999;
	margin-top: 1rem;
	padding-top: 0.5rem;
	color: #999;
}

.aa79b-content .aa79b-pruebas-header span, .aa79b-content .aa79b-pruebas-footer span {
	margin-left: 0.5rem;
}

.aa79b-content .aa79b-pruebas-header strong, .aa79b-content .aa79b-pruebas-footer strong {
	margin-left: 0.5rem;
	color: #828296;
}

@media ( max-width :991px) {
	.aa79b-content .aa79b-pruebas-header, .aa79b-content .aa79b-pruebas-footer {
		font-size: smaller;
	}
	.aa79b-content .aa79b-pruebas-header div, .aa79b-content .aa79b-pruebas-footer div {
		text-align: center;
	}
	.aa79b-content .aa79b-pruebas-header span, .aa79b-content .aa79b-pruebas-footer span {
		margin-left: 0;
	}
	.aa79b-content .aa79b-pruebas-header strong, .aa79b-content .aa79b-pruebas-footer strong {
		margin-left: 0;
		display: block;
	}
}

.aa79b-content .aa79b-pruebas-header div, .aa79b-content .aa79b-pruebas-footer div {
	border-left-style: solid;
	border-left-width: thin;
	border-left-color: #999;
	color: #999;
}

.aa79b-content .aa79b-pruebas-footer div {
	border-left-style: dotted;
}

.aa79b-content .aa79b-pruebas-header div:first-child, .aa79b-content .aa79b-pruebas-header div:last-child,
	.aa79b-content .aa79b-pruebas-footer div:first-child {
	border-left: none;
}

.aa79b-content .aa79b-pruebas-menu {
	color: #D5316E;
	font-family: inherit;
	font-weight: bold;
	font-size: small;
	cursor: pointer;
}

.aa79b-content .aa79b-pruebas-menu:hover {
	color: #C42660;
}

.aa79b-content .aa79b-pruebas-menu:focus {
	outline: none;
}

@media ( max-width :991px) {
	.aa79b-content .aa79b-pruebas-menu {
		padding: .4rem;
		border: 0;
		font-size: 2.5rem;
		color: #828296;
		background: transparent;
	}
}

.aa79b-content .aa79b-body-bg {
	margin: 0;
	background-color: #EBEBEB;
}

.aa79b-content .aa79b-noMargin {
	margin: 0;
}

.aa79b-content .aa79b-rup-list-pagePrev a, .aa79b-content .aa79b-rup-list-pageNext a {
	background-color: transparent !important;
	border-color: transparent !important;
	text-decoration: underline !important;
	color: #204d71 !important;
	font-size: 0.85rem !important;
}

.aa79b-content .aa79b-rup-list-pagePrev.disabled a, .aa79b-content .aa79b-rup-list-pageNext.disabled a
	{
	text-decoration: none !important;
}

.aa79b-content .aa79b-rup-list-pagePrev.disabled a {
	color: #ccc !important;
}

.aa79b-content .aa79b-item-actions .btn {
	width: 100%;
	background: transparent;
	border: none;
	text-align: left;
}

.aa79b-content .aa79b-item-actions .btn.cerrar {
	width: auto;
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	font-size: 2rem;
}


@media ( max-width : 991px) {
	.aa79b-content .aa79b-item-actions {
		z-index: -1;
		background: rgba(0, 0, 0, 0.77);
		position: absolute;
		top: -6px;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
		border: 0;
		-webkit-transition: height 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		transition: all 0.5s ease;
		transform: translate(0px, -10px);
		opacity: 0;
	}
	.aa79b-content .aa79b-item-actions .bottom-container {
		text-align: center;
		margin: 0rem auto 0 !important;
		background: transparent;
		padding: 0;
		width: 60%;
		display: table;
		border-collapse: collapse;
		height: 100%;
	}
	.aa79b-content .aa79b-item-actions .bottom-container .btn {
		height: 50%;
		word-wrap: break-word;
		white-space: inherit;
		font-size: large;
		max-width: 200px;
		display: table-row;
	}
	.aa79b-content .aa79b-item-actions .btn:hover {
		background-color: transparent;
		border-color: transparent;
	}
	.aa79b-content .aa79b-item-actions .bottom-container .btn span {
		display: table-cell;
		vertical-align: middle;
	}
	.aa79b-content .aa79b-item-actions .bottom-container .btn:first-child {
		border-bottom: 1px solid #FFF;
	}
	.aa79b-content .aa79b-item-actions .bottom-container .btn > span:not(.fa-stack) > i {
		background-color: #d5316e;
		margin-left: -55px;
		border: 2px solid #d5316e;
		padding: 5px 10px;
		border-radius: 30px;
	}
	.aa79b-content .aa79b-item-actions .bottom-container .btn > span.fa-stack {
		margin: 0;
	    padding-bottom: 1.5rem;
	    top: 0;
	    left: -3.3rem;
	    position: relative;
	}
}

@media ( min-width : 992px) {
	.aa79b-content #rup-list-content {
		padding: 2rem;
	}
	.aa79b-content .aa79b-item-actions {
		z-index: -1;
		background-color: #D5316E;
		margin: -17px 0 -1px 0 !important;
		padding: 0;
		border: 0;
		-webkit-transition: height 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		transition: all 0.5s ease;
		transform: translate(0px, -10px);
		opacity: 0;
	}
	.aa79b-content .aa79b-item-actions .bottom-container {
		margin: 0 !important;
		padding: 0;
		background: transparent;
	}
	.aa79b-content .aa79b-item-actions .bottom-container .btn {
		font-family: inherit;
		font-weight: bold;
		font-size: small;
		text-align: left;
		width: 100%;
	}
	.aa79b-content .aa79b-item-actions .bottom-container .btn > span:not(.fa-stack) > i {
		margin-right: 0.5rem;
	}
	.aa79b-content .aa79b-item-actions .bottom-container .btn > span.fa-stack {
		margin: 0px 0px 0px -0.4rem;
	}
}

.aa79b-content .aa79b-item-actions.show {
	z-index: 1;
	transform: translate(0px, 0.4rem);
	opacity: 1;
}

.aa79b-content .aa79b-subcontent {
	padding: 2rem;
	background: #EBEBEB;
	    padding-bottom: 0;
}

.aa79b-content .list-group-item {
	border-color: transparent;
	font-size: 1rem;
	position: relative;
	border: none;
	border-radius: 0;
	margin: 1rem 0rem;
	width: auto;
	    box-shadow: 1px 1px 11px #ddd;
}

@media ( max-width :768px) {
	.aa79b-content .list-group-item {
		margin: 1rem;
	}
}

.aa79b-content .list-group-item p {
	margin-bottom: 0;
}

.aa79b-content .list-group h4 {
	color: #828296;
	font-size: 1rem;
	margin-bottom: 0.3rem !important;
	font-family: Raleway_bold;
}

@media ( max-width :768px) {
	.aa79b-content .list-group-item {
		margin: 1rem;
	}
}

.aa79b-content .list-group-item p {
	margin-bottom: 0;
}