<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Iberdok Detalle</title>

</head>
<body>
    <!-- Formulario de detalle -->
    <div id="iberdokTable_detail_div" class="rup-table-formEdit-detail d-none">
        <!-- Barra de navegación del detalle -->
        <div id="iberdokTable_detail_navigation" class="row no-gutters"></div>
        <!-- Separador -->
        <hr class="m-1">
        <div id="iberdokTable_detail_form_container" class="dialog-content-material">
            <!-- El formulario será insertado mediante una llamada Ajax -->
        </div>
        <!-- Botonera del formulario de detalle -->
        <div class="rup-table-buttonpanel-material">
            <div class="text-right">
                <!-- Botón cancelar -->
                <button id="iberdokTable_detail_button_cancel" type="button" th:text="#{cancel}">
                    Cancelar
                </button>
                <!-- Botón lanzar editor -->
                <button id="iberdokTable_lanzarEditor" type="button" th:text="#{iberdok.botonSubmit}">
                    Enviar
                </button>
            </div>
        </div>
    </div>
</body>
</html>
