<div th:fragment="wizard_step2">
  <fieldset>
    <legend class="wizardLegend">Datos del trabajador</legend>
    
    <div id="tabs"></div>
    
    <div id="empleado" style="display: none;">
      <!-- Radio buttons para 'group1' -->
      <input type="radio" th:field="*{group1}" th:value="'hombre'" id="radio_hombre" checked="checked" />
      <label for="radio_hombre">Hombre</label>
      
      <input type="radio" th:field="*{group1}" th:value="'mujer'" id="radio_mujer" />
      <label for="radio_mujer">Mujer</label>
      <br/><br/>
      
      <label for="nombre">Nombre</label>
      <input id="nombre" type="text" th:field="*{nombre}" />
      <br/><br/>
      
      <label for="apellido">Apellido</label>
      <input id="apellido" type="text" th:field="*{apellido}" />
      <br/><br/>
      
      <label for="provincia">Delegación</label>
      <select id="provincia" class="rup-combo" th:field="*{provincia.code}">
        <!-- Opciones para la delegación -->
      </select>
    </div>
    
    <div id="empresa_datos" style="display: none;">
      <label for="empresa_nombre">Nombre</label>
      <input id="empresa_nombre" type="text" th:field="*{empresa_nombre}" />
      <br/><br/>
      
      <label for="empresa_web">Website</label>
      <input id="empresa_web" type="text" th:field="*{empresa_web}" />
      <br/><br/>
      
      <label for="empresa_email">E-mail</label>
      <input id="empresa_email" type="text" th:field="*{empresa_email}" />
      <br/><br/>
    </div>
    
    <div id="empresa_araba" style="display: none;">
      <label for="direccion_araba">Dirección</label>
      <input id="direccion_araba" type="text" th:field="*{direccion_araba}" />
      <br/><br/>
      
      <label for="telefono_araba">Teléfono</label>
      <input id="telefono_araba" type="text" th:field="*{telefono_araba}" />
      <br/><br/>
    </div>
    
    <div id="empresa_bizkaia" style="display: none;">
      <label for="direccion_bizkaia">Dirección</label>
      <input id="direccion_bizkaia" type="text" th:field="*{direccion_bizkaia}" />
      <br/><br/>
      
      <label for="telefono_bizkaia">Teléfono</label>
      <input id="telefono_bizkaia" type="text" th:field="*{telefono_bizkaia}" />
      <br/><br/>
    </div>
    
    <div id="empresa_gipuzkoa" style="display: none;">
      <label for="direccion_gipuzkoa">Dirección</label>
      <input id="direccion_gipuzkoa" type="text" th:field="*{direccion_gipuzkoa}" />
      <br/><br/>
      
      <label for="telefono_gipuzkoa">Teléfono</label>
      <input id="telefono_gipuzkoa" type="text" th:field="*{telefono_gipuzkoa}" />
      <br/><br/>
    </div>
    
    <div id="otros_datos" style="display: none;">
      <label for="aficiones">Aficiones</label>
      <br/><br/>
      <textarea id="aficiones" cols="150" rows="10" th:field="*{aficiones}"></textarea>
    </div>
  </fieldset>
</div>
