<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Wizard &lt;c:import&gt;</title>
  <!-- Incluye aquí tus hojas de estilo y scripts necesarios -->
</head>
<body>

  <h2>Wizard &lt;c:import&gt;</h2>

  <div id="wizard_options">
    <fieldset>
      <legend style="float: left;">Generar resumen:</legend>
      <input type="radio" name="summary" value="true" id="radio_summary_yes" checked="checked" />
      <label for="radio_summary_yes">Sí</label>
      <input type="radio" name="summary" value="false" id="radio_summary_no" />
      <label for="radio_summary_no">No</label>
      <br/><br/>
    </fieldset>
    <fieldset>
      <legend style="float: left;">Resumen con 'accordion':</legend>
      <input type="radio" name="accordion" value="true" id="radio_accordion_yes" checked="checked" />
      <label for="radio_accordion_yes">Sí</label>
      <input type="radio" name="accordion" value="false" id="radio_accordion_no" />
      <label for="radio_accordion_no">No</label>
      <br/><br/>
    </fieldset>
    <fieldset>
      <legend style="float: left;">Pestañas convertidas a 'accordion':</legend>
      <input type="radio" name="tabs2accordion" value="true" id="radio_tab2accordion_yes" checked="checked" />
      <label for="radio_tab2accordion_yes">Sí</label>
      <input type="radio" name="tabs2accordion" value="false" id="radio_tab2accordion_no" />
      <label for="radio_tab2accordion_no">No</label>
      <br/><br/>
      <input type="button" id="makeWizard" value="Convertir formulario en Wizard" />
      <br/><br/>
    </fieldset>
  </div>

  <!-- Formulario con binding al objeto 'randomForm' -->
  <form th:object="${randomForm}" id="wizardForm" method="post">
    <!-- Se incluyen los archivos de wizard convertidos a HTML mediante th:replace -->
    <div th:replace="@{${x21aStatics}/x21a/resources/wizard_step0.html}"></div>
    <div th:replace="@{${x21aStatics}/x21a/resources/wizard_step1.html}"></div>
    <div th:replace="@{${x21aStatics}/x21a/resources/wizard_step2.html}"></div>
    <div th:replace="@{${x21aStatics}/x21a/resources/wizard_step3.html}"></div>
    <br/>
    <input id="saveForm" type="button" value="Enviar" />
  </form>
</body>
</html>
