<div th:fragment="uploadQueue">
  <div id="fileupload_only">
    <form th:action="@{/upload}" th:object="${collection}" id="usuarioForm" enctype="multipart/form-data" method="post">
      <fieldset id="fieldset_formulario" class="rup-upload">
        <div class="formulario_columna_cnt">
          <div class="formulario_linea_izda_float">
            <div class="fileupload-buttonbar">
              <div>
                <span class="btn btn-success fileinput-button">
                  <i class="mdi mdi-plus" aria-hidden="true"></i>
                  <span th:text="#{upload.button.addFiles}">Agregar archivos</span>
                  <input type="file" th:field="*{files}" multiple="multiple" id="file_only" />
                </span>
                <button type="submit" class="btn btn-primary start">
                  <i class="mdi mdi-upload" aria-hidden="true"></i>
                  <span>Subir todos</span>
                </button>
                <button type="reset" class="btn btn-secondary cancel">
                  <i class="mdi mdi-close-circle-outline" aria-hidden="true"></i>
                  <span>Cancelar todos</span>
                </button>
                <button type="button" class="btn btn-secondary delete">
                  <i class="mdi mdi-delete" aria-hidden="true"></i>
                  <span>Eliminar todos</span>
                </button>
              </div>
            </div>
            <div class="fileupload-content">
              <div class="files list-group"></div>
              <div id="fileupload-progressbar" class="fileupload-progressbar"></div>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
