<rup-feedback options></rup-feedback>

<div class="row">

	<div  *ngFor="let list of lists"  class="col-md-4">


    <div id="list_{{list.id}}"  class="card listItem shadow-2" >
			<app-list
				(modifyListEvent)="modifyList($event)"
				(deleteListEvent)="deleteList($event)"
				[list]="list">
			</app-list>
    </div>
  </div>


</div>

<rup-dialog #newListDialog [options]="dialogOptions">
	<div class="container">
		<form >
			<input type="hidden" name="id" [(ngModel)]="list.id" id="taskListId" />
			<div class="row">
				<div class="form-group">
		    	<label for="exampleInputEmail1">Titulo</label>
		    	<input type="text" class="form-control" id="taskListName" [(ngModel)]="list.name"  name="name" placeholder="Introduzca el título de la lista de tareas">
		  	</div>

		  	<div class="form-group">
		    	<label for="exampleInputEmail1">Descripcion</label>
		    	<input type="text" class="form-control" id="taskListDescription" [(ngModel)]="list.description" name="description" placeholder="Introduzca la descripción de la lista de tareas">
		  	</div>
		  	<input type="hidden" id="taskListId"/>

			</div>

		</form>
	</div>
</rup-dialog>


<rup-button  [fab]="true" [fixed]="true" [list]="fabButtonFixedList" (click)="addList()">
	<i class="fa fa-plus" aria-hidden="true"></i>
</rup-button>
