<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{app.title}">Título de la aplicación</title>

    <!-- Estilos RUP -->
    
    <link th:replace="includes/rup.styles.html :: headerStyle"> </link>
	<link th:href="${staticsUrl}+@{//x21a/styles/main.css}" rel="stylesheet" type="text/css">

    <!-- Estilos Aplicación -->
    <th:block th:replace="includes/x21a.styles.html :: styles"></th:block>
	
    <script>
        // Habilitar el envío de trazas a PIB.
        window.IS_EJIE = true;
    </script>
</head>
<body>
    <div class="contenedor">
        <!-- Cabecera -->
        <header th:replace="header :: header"></header>
	
        <!-- Idioma (opcional, descomentado si se necesita) -->
        <!-- <div th:replace="includes/language :: language"></div> -->

        <!-- Menú -->
        <nav th:replace="menu :: menu"></nav>
        <div id="overlay"></div>
		
        <!-- Migas de pan -->
        <div th:replace="breadCrumb :: breadCrumb"></div>
		
        <!-- Contenidos -->
        <!-- En template.html -->
		<div id="x21aAppWar_content" class="m-0 m-md-3 p-4 clear" th:fragment="content">
		    <div th:replace="~{${content}}"></div>
		    <div th:if="${code != null and code != ''}">
        <div id="code" style="display: none" th:insert="~{${code}}"></div>
			</div>
		</div>

		
        <!-- Pie -->
        <footer th:replace="footer :: footer"></footer>
		
        <!-- Includes JS -->
        <div th:replace="base-includes :: base-includes"></div>
       <div th:if="${includes != null and includes != ''}">
        <div th:replace="~{${includes}}"></div>
       </div>
	      
	        
    </div>
</body>
</html>
