<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deslizador</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<section class="row">
    <div class="col-12">
        <h2>Deslizador</h2>
        <hr>
        <div class="slider-examples">
            <div class="example">
                <div id="slider" class="rup-slider-material"></div>
            </div>

            <div class="example">
                <div class="form-groupMaterial">
                    <input id="amount" type="text" readonly>
                    <label for="amount">Price range:</label>
                </div>
                <div id="sliderRange" class="rup-slider-range-material"></div>
            </div>

        </div>
    </div>
</section>

<script src="script.js"></script>
</body>
</html>
